@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    text-align: center;
	padding: 0 70px;
}
.cndev__unit-converter {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    background: #1C1C1C;
}
.cndev__inputs-wrap {
    background: #6943FF;
    height: 200px;
}
.cndev__inputs-wrap h2 {
    font-size: 1.2rem;
    font-weight: bolder;
    color: white;
    padding: 25px 0;
}
.cndev__inputs-wrap div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.cndev__inputs-wrap input {
    width: 80%;
    height: 60px;
    margin-bottom: 15px;
    background: #6943FF;
    border: 1px solid #B295FF;
    border-radius: 3px;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bolder;
    color: white;
    letter-spacing: 3px;
    outline: none;
}
.cndev__inputs-wrap button {
    background: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #3D3D3D;
    font-weight: 600;
    cursor: pointer;
}
.cndev__results-wrap {
    background: #F4F4F4;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .5s linear;
}
.cndev__results-wrap > div {
    width: 100%;
	padding: 20px;
    background: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.cndev__results-wrap h3 {
    color: #5A537B;
    font-size: 1rem;
}
.cndev__results-wrap p {
    font-size: .8rem;
	line-height: 1.3rem;
}